* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background: #0e1111;
}

/* body {
  background-color: red;
  height: 100vh;
  width: 100vw;
  border: 2px solid yellow;
}
#root {
  background-color: purple;
  border: 2px solid brown;
  width: 80vw;
  height: 100vh;
}
 */
.App {
  text-align: center;
  background-color: #0e1111;
  min-height: 110vh;
}

.Logo {
  width: 70%;
  margin-top: 30px;
  margin-left: 100;
  margin-bottom: 50px;
}

.SelectFilterContainer {
  display: flex;
  justify-content: center;
}

.Container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Search {
  background: #00ff00;
  border: 0px solid transparent;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  color: white;
  margin: 10px;
  padding-top: 3px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  transition: 0.5s;
}

.Search:hover {
  background: #ff0065;
}

.NoResults {
  margin: 30px;
  color: white;
}

.PaginationContainer {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  .Logo {
    width: 90%;
    margin-bottom: 30px;
  }
}

.test {
  width: 100%;
  height: 3000px;
}
